@import url('https://fonts.googleapis.com/css?family=Francois+One|VT323');


body {
  font-family: "VT323" sans-serif;
  /* animated background ,thanks for https://codepen.io/P1N2O/pen/pyBNzX */
	background: linear-gradient(-45deg, #ffeea7, #e7ffa9, #23A6D6, #23D5AA);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.background-shape {
  width: 90%;
  max-width: 960px;
  position: absolute;
  top: 0px;
  left: 5%;
}

@media screen and (min-width: 1067px) {
  .background-shape {
    width: 960px;
    position: absolute;
    top: 0px;
    left: calc(50% - 480px);
  }
}

#first{
  background-color: #0391bc;
  height: 30%;
  z-index: -100;
  transform: skewY(4deg);
  box-shadow: 0px 0px 62px 6px rgba(0,0,0,0.75);
}

#second{
  background-color: black;
  height: 70%;
  z-index: -200;
  transform: skewY(-4deg);

}

#third{
  background-color: #0391bc;
  height: 100%;
  z-index: -500;
  box-shadow: 0px 0px 62px 6px rgba(0,0,0,0.75);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    height: 60px;
}

nav > ul {
    width: 90%;
    margin: 10px auto 0 auto;
    max-width: 960px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav > ul > li {
    width: 150px;
    text-align: center;
    padding: 10px;
    color: #ffb844;
    font-weight: bold;
    cursor: pointer;
}

nav > ul > li:hover {
  border: 1px solid #fcaf32;
  border-radius: 0.5em;
  color: #f7e9b2;
}

main {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
    font-family: "Francois One";
    font-size: 40px;
    padding-top: 30vh;
    color: #fcaf32;
    font-weight: 600;
    text-align: center;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 11ch;
  }
}

h1 a {
  font-size: 100px;
  text-decoration: none;
  color: #fcaf32;
}

h1 a:hover {
  color: #f7e9b2;
}

.wraper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
}

.main-content {
  text-align: center;
  color: #fcaf32;
  margin: 0;
  padding: 10px;
  animation: typing 3s;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;

}

.main-content:hover {
  border: 1px solid #fcaf32;
  border-radius: 0.5em;
}

footer {
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: grey;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 60px;
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.close {
  color: #666;
  position: absolute;
  right: 10%;
  font-size: 40px;
  font-weight: 400;
  top: 0;
}

.close:hover {
  color: white;
}

.opened {
  height: calc(100% - 60px);
}



#projects-container{
  max-width: 90vw;
  display: flex;
}

#projects figure {
  width: 200px;

}

#projects img {
  width: 150px;
}

@media screen and (max-width: 600px) {
  h1 {
    padding-top: 10vh;
  }
}
