.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20vh auto;
  justify-content: space-around;
}

.tech-logo {
  display: inline-block;
  width: 15vh;
  height: 15vh;
  max-height: 150px;
  max-width: 150px;
  margin-bottom: 20px;
  border-radius: 1em;
}

hr.divider-light {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: rgba(0,0,0, 0.5);
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.project-link {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.3em;
  border-radius: 0.5em;
  display: inline-block;
  width: 30%;
  background-color: rgba(255, 197, 163, 0.5);
}

.project-link:hover {
  background-color: rgb(255, 227, 211, 0.5);
}

@media (min-width: 992px) {
  #skills {
    height: 100vh;
    padding-top: 15%;
  }

  #trivia {
    height: 100vh;
    padding-top: 20%;
  }
}

@media (max-width: 600px) {
  .tech-logo {
    max-width: 100px;
    max-height: 100px;
  }
}
